/*  */

#nitizi {
    width: 350px;
    height: 25px;
}
#kyori {
    width: 350px;
    height: 25px;
}
.form {
padding: 0 2%;
}
.delete {
    width: 20px;
    height: 20px;
    border: 1px black solid;
    background-color: white;
    padding: 0;
    font-size: 10px;
    border-radius: 20px;
    margin-left: 10px;
}
.nitizi {
    margin: 10px 0 15px 0;
}
.kyori,
.runtime,
.jogging-img,
.spot {
    margin-bottom: 20px;
}
#jogging{
font-size: 10px;
}
.space{
    margin-bottom: 40px;
}
.radio-space input {
    display: none;
}
.radio-space label {
    display: block;
    float: left;
    cursor: pointer;
    margin: 0;
    background: #BDC3C7;
    color: black;
    font-size: 15px;
    text-align: center;
    line-height: 1;
    transition: .2s;
    width: 150px;
    height: 20px;
 padding-top: 2px;
}
.radio-space label:first-of-type {
    border-radius: 3px 0 0 3px;
    margin-right: 20px;
    margin-left: 20px;
}
.radio-space label:last-of-type {
    border-radius: 0 3px 3px 0;
}
.radio-space input[type="radio"]:checked+.switch-out {
    background-color: #5EBCA6;
    color: #fff;
}
.radio-space input[type="radio"]:checked+.switch-in {
    background-color: #5EBCA6;
    color: #fff;
}
#hh,
#mm,
#ss {
    width: 90px;
    height: 25px;
    color: #C4C4C4;
}
#spot {
    width: 300px;
    height: 25px;
}
#newspot {
    width: 300px;
    height: 25px;
    margin-bottom: 18px;
}
.add-btn {
    width: 75px;
    height: 30px;
    font-size: 15px;
    border: none;
    margin-left: 5px;
}
.textbox ::placeholder {
    color: #C4C4C4;
}

.register {
    width: 300px;
    height: 50px;
    border-radius: 28px;
    background-color: #D9D9D9;
    border: none;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 80px;
}
.fo-si-24 {
    font-size: 18px;
}
.fo-si-10 {
    font-size: 12px;
}
.ma-ri-5 {
    margin-right: 5px;
} 
input{
    margin-left: 5px;
}








.flex{
    display: flex;
}
.goal{
    background-color:#D9D9D9;
    height: 60px;
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 100vh;
    border: 1px #000000 solid;
}
.goal-value{
    justify-content: center;
    width: 70%;
    height: 20px;
    margin: 0 auto;
    position: relative;
    top: 10px;
}
.goal-value p{
    font-size: 10px;
    font-weight:600;
}
.goal-value span{
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
}
.gauge-bar{
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    position: relative;
    bottom: 3px;
}
.gauge-value{
  
    padding: 0 22px;
    justify-content:space-between;
    height: 20px;
}
.gauge-value p{
font-size: 12px;
font-weight: bold;
position: relative;
bottom: 9px;
}
.gauge-div{
    width: 75%;
    height: 4px;
    background-color: #ffffff;
}

.gauge{
    height: 4px;
    background-color: #000000;
}

.left-circle , .right-circle{
    width: 22px;
    height: 22px;
    border-radius: 100%;
    position: relative;
    bottom: 10px;
    
}
.left-circle{
    left: 1px;
    background-color: #000000;
}
.right-circle{
    right: 1px;
    background-color: #ffffff;
}
#goal-link{
    font-size: 10px;
    font-weight: bold;
    display: block;
    position: relative;
    left: 80%;
}



.link-div{
    justify-content:space-evenly;
    margin-top: 40px;
}
.link-div a{
    display: block;
    color: #000000;
    font-size: 12px;
    font-weight:600;
    height: 40px;
    width: 35%;
    padding-top: 12px;
    text-align: center;
    background-color: #D9D9D9;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
}


.list-div{
    margin-top: 40px;
    padding: 0 2%;
    position: relative;
}


.list-title{
    border-bottom:3px solid #000000;
    margin: 0 auto;
} 
.list-title h2{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
}

.search-menu{
    margin-top: 10px;
}
.search-menu a{
    height: 20px;
    color: #000000;
    border: #000000 1px solid;
    padding:  0 10px;
}
#find_check{
    display: none;
}
.find_check{
    display: inline-block;
    cursor: pointer;
    height: 20px;
    font-size: 10px;
    color: #000000;
    font-weight: bold;
    border: #000000 1px solid;
    padding:  1px 10px 0;
    margin-right: 10px;
}
.find_form{
    position: fixed;
    top: 50px;
    left: 100px;
    background: #fff;
    width: 80%;
    border: 1px solid #000;
    padding: 10px 100px;
    z-index: 10;
}
.find_form h3 {
    font-size: 20px;
}
#find_check:checked+label+.find_form{
    display: none;
}
.search-menu a + a{
    margin-left: 10px;
}
.search-menu span{
    font-size: 18px;
    margin-right: 10px;
    display: block;
}
.search-menu a,.search-menu #narrow-down .text{
    font-size: 10px;
    margin: 0;
    padding-top: 1px;
    font-weight: bold;
}

#registration-order{
    width: 90px;
    text-align: center;
}

#graph-link{
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top:30px;
}


.score-div{
    justify-content: flex-start;
    margin-top: 30px;
}

.total-score,.month-score{
    width: 43%;
    height: 40px;
}
.total-score + .month-score{
    margin-left: 20px;
}
.score-div p:not(.score-data p){
    height: 40px;
    width: 40px;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding-top: 12px;
    text-align: center;
    font-size: 12px;
    font-weight:lighter; 
}
.score-data{
    background-color: #D9D9D9;
    width: calc(100% - 40px);
    padding: 5px;
    position: relative;
}

.score-data-value p{
    margin: 0;
    font-size: 12px;
   font-weight:bold;
   position: relative;
   bottom: 2px;
}    
.score-data-value p:last-child{
    bottom: 3.5px;
}
  
.score-data p:not(.score-data-value p){
    margin: 0;
    margin-left: 2px;
    font-size: 10px;
    color: #868585;
}

.list-data{
    margin-top: 30px;
}
.list-data ul{
    list-style:none ;
}
.list-data ul:not(.spot-ul){
    padding: 0;
}
.list-data li:not(.spot-ul li,.detail-spot li){
    height: 70px;
    background-color: #D9D9D9;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.list-data li+li:not(.spot-ul li, .detail-spot li){
    margin-top: 10px;
}
.list-data a{
    width: 100%;
    color: #000;
}
.date-div{
    width: 6%;
    margin-right: 5%;
}
.date-div p{
    margin: 0;
    font-size: 14px;
    text-align: center;
    position: relative;
    bottom: 2px;
    font-weight: bold;
}

.date-icon{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    margin:  0 auto;    
    position: relative;
}
.date-icon span{
    font-size: 25px;
    position: absolute;
    top: 2px;
    left: 2px;
}

.icon-bottom{
    height: 10px;
    width: 20px;
    background-color:#000000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    bottom:0;
    z-index: 1;
}
.icon-bottom div{
    background-color: #ffffff;
    width: 20.6px;
    height: 2px;
    position: absolute;
    top: -1px;
    z-index: 10;
}

.record-div{
    width: 65%;
}

.record-div div+div:not(.spot-ul){
    margin-left: 20px;
}

.record-div p:first-child{
    margin: 0;
    margin-top: 1.5px;
    font-size: 12px;
    font-weight:bold;
    position: relative;
    bottom: 1px;
}

.record-div p:last-child{
    margin: 0;
    margin-left: 1px;
    font-size: 12px;
    color: #868585;
}

.spot-ul{
   flex-wrap: wrap;
   margin-top: 5px;
   width: 86%;
   position: relative;
   padding-left: 15px;
}
.spot-ul li{
    font-size: 10px;
    font-weight: bolder;
}

.spot-icon span{
    height: 10px;
    width: 20px;
    font-size: 15px;
    position: absolute;
    left: 0;

}
.spot-ul li::after{
    content: "、";
}
.spot-ul li:first-child::after{
    content: "";
}
.spot-ul li:last-child::after{
    content: "";
}

.list-img{
    background-color: #ffffff;
    height: 55px;
    width: 45px;
    position: absolute;
    top: 7.5px;
    right: 10px;
    object-fit: cover;
}


.return{
    display: block;
    font-size: 12px;
    margin: 0 auto;
    width: 10%;
    text-align: center;
}










.detail-div{
    width: 80%;
    border: 1.5px #868585 solid;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;

    padding: 0 6%;
    padding-top: 40px;
    
}

.detail-div label{
    width: 100%;
}
#detail-edit{
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 10px;
}
.detail-img{
    background-color: #D9D9D9;
    width: 250px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
}
.detail-img img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.detail-img span{
    position: absolute;
    bottom: 0px;
    right: 0px;
}


#img-up-btn{
    display: none;
}
.img-up-div{
    display: none;
}

#img-up-btn:checked ~ .img-label{
    pointer-events: none;
}

#img-up-btn:checked ~ .img-up-div {
   display: block;
}

#img-up-btn:checked ~ .img-close {
    display: block;
 }


.img-up-div{
    width: 100vw;
    height: 80vh;
    background-color: #efecec;
    opacity: 0.8;
    position: absolute;
    top: -3px;
    left: -13%;
    pointer-events: none;
    z-index: 500;
    animation: 0.5s img-fadeIn;
}

.img-up-div img{
    display: block;
    width: 80%;
    height: 400px;
    margin:  0 auto;
    position: relative;
    top:40px;
    animation: 0.5s fadeIn;
}

.img-close{
    display: none;
    width: 20px!important;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 1000;
    animation: 0.5s fadeIn;
}
@keyframes img-fadeIn {
    from { opacity: 0; }
    to { opacity: 0.8; }
  }



.detail-date{
    font-size: 12px;
    font-weight: bolder;
}


.ditail-data div p:first-child{
    height: 35px;
    width: 50px;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding-top: 9px;
    text-align: center;
    font-size: 12px;
    font-weight:lighter; 
}
.ditail-data div p:last-child{
    margin: 0;
    height: 35px;
    background-color: #D9D9D9;
    width:19vw;
    padding: 5px;
    position: relative;
    font-size: 12px;
    text-align: center;
    padding-top: 9px;
    font-weight: bold;
}
.ditail-data div + div{
    margin-left: 30px;
}

.img-up{
    /* height: 100%; */
    /* width: 100%; */
}
.detail-place , .detail-spot {
    margin-top: 30px;
}

.detail-place h3 , .detail-spot h3{
    font-size: 16px;
    font-weight: bold;
    
}
.detail-place h3{
    margin: 0;
    margin-bottom: 10px;
}
.detail-place p{
    font-size: 14px;
    margin: 0;
    font-weight: bold;
    padding-top:5px;
    margin-left: 3px;
}
.detail-place .date-icon{
    margin: 0;
    border: #000000 1px solid;
}
.detail-spot ul{
    flex-wrap: wrap;
    margin-top: 5px;
    list-style: none;
    padding: 0;
    padding-left: 15px;
    position: relative;
    width: 105%;
 }
 .detail-spot li{
     font-size: 10px;
     font-weight: bolder;
 }
 .detail-spot li::after{
     content: "、";
 }
 .detail-spot li:last-child::after{
     content: "";
    }
.spot-icon::after{
    content: ""!important;
}




.search-box{
    margin-top: 15px;
}

.search-box,.search-result{
    padding: 0 5%;
}

.search-box h2,.search-result h2{
    font-size: 16px;
    font-weight: bold;
}


.search-box form{
    border: 1px solid #000000;
    border-radius: 2%;
    padding:10px;
}

.search-box h3{
    font-size: 14px;
    padding-bottom: 3px;
    border-bottom: 1px solid #000000;
    font-weight: bolder;
}

.min-bar ,.max-bar{
    display: flex;
    position: relative;
    margin-bottom: 10px;
}
.min-bar p , .max-bar p{
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}
.min-bar input[type=range], .max-bar input[type=range]{
    position: absolute;
    left: 80px;
    width: 75%;
    height: 5px;
    margin-top: 7px;
}



.recommendation-radio label{
    font-size: 14px;
    font-weight: bold;
}

.recommendation-radio input[type=radio]{
    margin-right: 10px;
    margin-top: 0px;
    transform:scale(1.2);
    position: relative;
    top:2px;
    accent-color: #000000;
}

.recommendation-radio label:last-child [type=radio]{
    margin-left: 20px;
}


.recommendation-check{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}   
.recommendation-check label{
    display: block;
}
.recommendation-check input[type=checkbox]{
    position: relative;
    top: 2.5px;
    margin-right: 3px;
    accent-color: #000000;
}
.recommendation-check label{
    font-size: 12px;
    margin-right: 7px;
    font-weight: bold;
}

.search-box input[type=submit]{
    display: block;
    width: 55%;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    background-color: #D9D9D9;
    border: none;
    font-weight: bold;
    padding: 2px 0;
    border-radius: 100vh;   
}


.search-result h2{
    margin-top: 20px;
    margin-bottom: 0px;
}
.search-result p:not(ul p){
    font-size: 10px;
    color: #868585;
    margin-left: 3px;
}
.search-result p:not(ul p)::before{
    content: "※";
    font-size: 6px;
    font-weight: bold;
    position: relative;
    bottom: 1px;
    right: 1px;
}
.search-result .spot-icon{
    width: 100%;
}

.search-result .spot-icon p{
    color: #000000;
    position: relative;
    bottom: 1px;
}


.search-result li:not(.spot-ul li){
    height: 120px;
}
.search-result .spot-ul{
    width: 100%;
}
.search-result .list-img{
    width: 19%;
    height: 100px;
}


.graph-div{
    padding:  0 5%;
}
.graph-div .score-div{
    margin-top: 20px;
}
.graph-div .search-menu{
    margin-top: 20px;
}
.graph-div ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}
.graph-data{
    width: 100%;
    position: relative;
    justify-content: flex-end;
}
.graph-data p{
    font-size: 12px;
    margin-bottom: 0;
}
.graph-data p:first-child{
    font-weight: bold;
}
.graph-data p:not(.graph-data div p){
    margin-right: 20%;
    position: absolute;
    left: 0;
}
.graph-data div p:last-child{
    margin: 0;
    margin-left: 2px;
    font-size: 10px;
    color: #868585;
}   
.graph-data div + div{
    margin-left: 15px;
}

.graph{
    width: 100%;
    height: 250px;
    border:  1px #000000 solid;
}


#japanese_people_chart{
    height: 250px!important;
    width: 95%!important;
}

/* jogging-comfirmのcss */
.top-p {
    text-align: center;
    margin-top: 40px;
}

#return-com {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

#nitizi-com,
#kyori-com,
#runtime-com {
    width: 350px;
    height: 30px;
    border: solid black 1px;
    margin: 0;
    margin-left: 5px;
}

.nitizi-com {
    margin: 30px 0 25px 0;
}

.kyori-com,
.runtime-com,
.jogging-img-com {
    margin-bottom: 25px;
}

.space-com {
    margin-bottom: 30px;
}

.spot-com {
    margin-bottom: 35px;
    margin-top: 47px;
}

.out-in-com {
    margin: 0;
    background-color: #5EBCA6;
    color: #fff;
    font-size: 15px;
    text-align: center;
    width: 200px;
    height: 25px;
    padding-top: 2px;
    margin-left: 80px;
}

.fo-si-32 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
